.button {
    display: inline-flex;
    padding: 16px 32px;
    justify-content: center;
    align-items: center;
    gap: 8px;

    border: none;
    border-radius: 12px;
    background: #D632D9;

    color: #FFF;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;

    cursor: pointer;
}

.button:hover {
    background-color: #4628A4;
    transition: 0.2s ease-in;
}

.buttonOutiline {
  width: 100%;
  display: inline-flex;
  padding: 16px 32px;
  justify-content: center;
  align-items: center;
  gap: 8px;

  border: 1px solid #D632D9;
  border-radius: 12px;
  background: #FFF;

  color: #D632D9;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;

  cursor: pointer;
}


@media (max-width: 820px) {
    .button {
      width: 100%;
    }
  }