.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  /*background-image: linear-gradient(to bottom, #2e026d, #15162c);*/
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100vh;
  padding-top: 30px;
}

@media (max-width: 820px) {
  .container {
    flex-direction: column;
    padding-top: 0;
  }
}

@media (min-width: 1370px) {
  .main {
    padding: 0 300px;
  }
}

.title {
  color: #4628A4;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  font-family: inherit;

  margin-bottom: 12px;
}

.text {
  color: #2D3436;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -000.3px;

  margin-bottom: 76px;
}

@media (max-width: 820px) {
  .text {
    margin-bottom: 32px;
  }
}

.contentButton {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;

  column-gap: 15px;
  margin-top: 30px;
}

.contentForm {
  width: 40%;
  margin-left: 60px;
  padding-top: 30px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

@media (max-width: 820px) {
  .contentForm {
    width: 100%;
    padding: 0 16px;
    margin-left: 0;
  }

  .contentButton {
    margin-top: 8px;
    margin-bottom: 16px;
  }
}

.contentImage {
  width: 50%;
  height: 100%;
}

.img {
  width: 100%;
  height: auto;
  bottom: 0;
}


@media (max-width: 820px) {
  .img {
    width: 100%;
  }
}

.textImage {
  position: absolute;
  right: 80px;
  z-index: 2;
  margin-top: -150px;
}

.textImage h2 {
  color: #FFF;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

@media (max-width: 820px) {
  .contentImage {
    width: 100%;
   
  }

  .contentImage  img{
    object-fit: cover;
    
  }

  .textImage {
    position: absolute;
    right: 20px;
    z-index: 2;
    margin-top: -130px;
  }
}

.phoneInput, .phoneInputError {
  display: flex;
  flex-direction: column;
  row-gap: 12px;
}

.phoneInput input, .phoneInputError input {
  width: 100%;
  box-sizing: border-box;
  height: 50px;
  flex-shrink: 0;

  border-radius: 12px;
  border: 1px solid #B2BEC3;
  background: #FFF;
  padding: 0 16px;
}

.phoneInputError input {
  border: 1px solid #D92F21 !important;
}

.phoneInput label, .phoneInputError label {
  color: #000;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.phoneInput span, .phoneInputError span {
  color: #D92F21;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.input {
  width: 100%;
  display: flex;
  flex-direction: column;
  row-gap: 16px;
}

.input input:hover {
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.input input:focus {
  border: 1px solid #4628A4 !important;;
}


.content {
  display: flex;
  align-items: center;
}

@media (max-width: 820px) {
  .content {
    flex-direction: column;
    align-items: flex-start;
    row-gap: 12px;
  }
}


.titleLink {
  font-family: inherit;
  font-size: 16px;
  font-weight: 600;
  padding-bottom: 16px;
}

.textLink {
  width: 100%;
  font-family: inherit;
  font-size: 14px;
  word-wrap: break-word;
  line-height: 20px;
}

.textNewLink {
  font-family: inherit;
  font-size: 14px;
  color: #4628A4;
}

.longLink {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.newLink {
  width: 100%;
  margin-top: 32px;
}

.buttonCopy {
  display: inline-flex;
  margin-left: 16px;
  padding: 7px 32px;
  justify-content: center;
  align-items: center;
  gap: 8px;

  border: none;
  border-radius: 12px;
  background: #D632D9;

  color: #FFF;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  font-family: inherit;

  cursor: pointer;

}

.buttonCopy:hover {
  background-color: #4628A4;
  transition: 0.2s ease-in;
}

@media (max-width: 820px) {
  .buttonCopy {
    width: 100%;
    padding: 16px 32px;
    margin-left: 0;
    margin-top: 16px;
  }

  .newLink {
    margin-top: 16px;
  }
}

@media (max-width: 820px) {
  .input {
    width: 100%;
  }
}

.shortenNewLink {
  margin-top: 16px;
}


