.container {
  width: calc(100% - 60px);
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 3rem;
  padding: 30px;
}

.navbar {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 1rem;
}

.navItem {
  color: #000;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

@media (max-width: 640px) {
  .navItem {
    display: none;
  }
}